<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <style>
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item"> <a href="#home" class="nav-link">Home</a> </li>
                <li class="nav-item"> <a href="#about" class="nav-link">About</a> </li>
                <li class="nav-item"> <a href="#services" class="nav-link">Services</a> </li>
            </ul>
        </div>
    </nav>
        

<div id="home" class="bg-success" style="padding-top: 600px; padding-bottom: 600px;">
    <div class="container">
        <h1>Home</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequatur maiores eos voluptatibus soluta laudantium ipsam magni sint rerum laborum adipisci, quibusdam dicta itaque facere consectetur eveniet fuga ipsum saepe fugit placeat aliquid aliquam accusamus animi eum. Modi quisquam cumque est praesentium accusamus blanditiis laboriosam animi facere. Culpa, iure eaque!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, labore maxime. Voluptate enim harum quos maiores officia ut at debitis!</p>
    </div>
</div>
<div id="about" class="bg-primary" style="padding-top: 600px; padding-bottom: 600px;">
    <div class="container">
        <h1>About</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam eum iste placeat minima voluptatibus hic dolore, in cum esse itaque neque ipsum vitae autem atque provident ducimus sequi culpa officia eos deleniti soluta incidunt temporibus fuga. Repellendus ratione maxime nesciunt corporis odit. Sit assumenda praesentium corrupti cum! Nam, vitae eligendi.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, labore maxime. Voluptate enim harum quos maiores officia ut at debitis!</p>
    </div>
</div>
<div id="services" class="bg-danger" style="padding-top: 600px; padding-bottom: 600px;">
    <div class="container">
        <h1>Services</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed adipisci similique aliquid nemo, provident, laudantium quas expedita asperiores dolorem, nostrum in ipsa alias deserunt. Tempora sapiente quas consequatur voluptatibus quis doloremque, veritatis ipsum ex inventore laborum assumenda in! Libero ipsa quaerat nostrum perferendis unde magni quod quis facere obcaecati aliquam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, labore maxime. Voluptate enim harum quos maiores officia ut at debitis!</p>
    </div>
</div>


</body>
</html>